/* Generics */
body {
    background-color: #68B984;
    font-family: 'Press Start 2P', cursive;
    color: #CFFDE1;
}

h1 {
    font-size: 3rem;
}

p {
    color: #3D5656;
    line-height: 35px;
    font-size: 1.3rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

li {
    list-style: none;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 80%;
    height: auto;

    display: none;
}

span {
    color: #CFFDE1;
}

span:last-child {
    font-size: 1.6rem;
    display: block;
    padding-top: 18px;
}

input {
    min-width: 70%;
    height: 50px;
    padding-left: 15px;
    border: 2px solid black;

    font-family: 'Press Start 2P', cursive;
}

button {
    background-color: #CFFDE1;
    width: 80px;
    height: 55px;
    cursor: pointer;

    font-family: 'Press Start 2P', cursive;
}

/* Utils */
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.bg-yellow {
    background-color: #FED049;
}

.container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: #4D8A62;
    border: 12px solid #FED049;
}

span.day {
    display: none;
    color: #68B984;
}

.text {
    margin: 50px 0;
}

.bg-yellow {
    background-color: #FED049;
}

.yellow {
    color: #FED049;
}

.red {
    color: #ff2727;
}

/* Hover */
.box:hover {
    background-color: #FED049;
}

.box:hover img {
    display: block;
}

.box:hover span.day {
    display: inline;
}

button:hover {
    background-color: #A2CCB2;
}

/* Media query */
/* custom screen size */
@media screen and (min-width: 920px) {
    .fake-form {
        margin: 0 -82px;
    }
}